<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script>
        var xhr= new XMLHttpRequest();
        xhr.onreadystatechange=function(){
           if(xhr.readyState==4 && xhr.status==200) {
               var response=xhr.responseText;
             var array=response.split("$");
                var mySelect=document.getElementById("test");
               if(array.length>0) {
                   for (var i = 0; i < array.length; i++) {
                       if (array[i].length >= 2) {
                           var obj = new Option(array[i], array[i]);
                           mySelect.options.add(obj);
                           var input = document.createElement("input");
                           input.type = "text";
                           input.name = "answer";
                           input.id = "test11";
                           document.getElementById("form").appendChild(input);
                       }
                   }
               }
           }
        }
        function checkUsername(){
            var name=document.getElementById("namec").value;
            xhr.open("GET","/retrieveCheckName?username="+name,true);
            xhr.send();

        }
    </script>

</head>
<body>

<!--查询逻辑：
1. ajax 向服务器发送用户名，如果用户名存在，则返回该用户名对应的QA List 的Q部分。
2. 页面收到数据后。生成<select> 标签
3. 用户选择问题，输入答案，提交表单。这里的难点是要拿到表单的值。
4. 后台通过用户名与QA 对象查询。
-->

<!--/*@thymesVar id="user" type=""*/-->




    <div id="userbox">


    </div>
<form id="form" action="/verifyQA">
    Please Type in your username: <input id="namec" type="text" name="username" placeholder="type in your username here" onblur="checkUsername()"/>  <br>

    <select id="test" name="question">



    </select>

    <input type="submit" value="Go"/>

</form>


</body>
</html>